/* .wrapper {
  padding-top: 50px;
  background: #ECEFF1;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
} */


.wrapper {
  overflow: auto;
  color: #777777;
  display: flex;
  flex-direction: column;
}